doctype html
html
    head
        title= title
body
    nav
        ul
            li 
              a(href="/") Films
            li
              a(href="/pageOne") People
            li 
              a(href="/pageTwo") Locations
            li
              a(href="/pageThree") Species
            li
              a(href="/pageFour") Vehicles
    h1(style="text-align:center;")= "Films"
    hr
    h2=  data.title
    p= "Description: " +data.description
    h4= "Director: "+ data.director
    p= "Producer: " +data.produce
    p= "Release Date: "+data.release_date
    p= "RT Score: "+ data.rt_score
    hr
    h2= data.title2
    p= "Description: " +data.description2
    h4= "Director: "+data.director2
    p= "Producer: " +data.produce2
    p= "Release Date: "+data.release_date2
    p= "RT Score: "+ data.rt_score2
