doctype html
html
    head
        title= title
body
    nav
        ul
            li
                a(href="pageOne.html") Films
            li 
                a(href="pageTwo.html") People
            li
                 a(href="pageThree.html") Locations
            li
                a(href="pageFour.html") Species
            li
                 a(href="pageFive.html") Vehicles
    p= data.title
    p= data.description
    p= data.director
    p= data.producer
    p= data.release_date
    p= data.rt_score
    
