doctype html
html
    head
        title= title
body

    nav
        ul
            li 
              a(href="/") Films
            li
              a(href="/pageOne") People
            li 
              a(href="/pageTwo") Locations
            li
              a(href="/pageThree") Species
            li
              a(href="/pageFour") Vehicles
    h1(style="text-align:center;")= "People"
    hr
    h2= data.name
    p= "Gender: "+data.gender
    p= "Age: " + data.age
    p= "Eye Color: "+data.eye_color
    p= "Hair Color: "+data.hair_color
    hr
    h2= data.name2
    p= "Gender: "+data.gender2
    p= "Age: " + data.age2
    p= "Eye Color: "+data.eye_color2
    p= "Hair Color: "+data.hair_color2
