doctype html
html
    head
        title= title
body

    nav
        ul
            li 
              a(href="/") Films
            li
              a(href="/pageOne") People
            li 
              a(href="/pageTwo") Locations
            li
              a(href="/pageThree") Species
            li
              a(href="/pageFour") Vehicles
    h1(style="text-align:center;")= "Locations"
    hr
    h2= data.name
    p= "Climate: "+ data.climate
    p= "Terrain: " +data.terrain
    p= "Surface Water: "+data.surface_water
    hr
    h2= data.name2
    p= "Climate: "+ data.climate2
    p= "Terrain: " +data.terrain2
    p= "Surface Water: "+data.surface_water2